/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
header {
  height: 65px;
  background-color: rgba(34, 49, 52, 0.9);
}

.header-img {
  float: left;
  width: 124px;
  padding: 20px 0;
}

.login {
  float: right;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  line-height: 65px;
  padding: 0 25px;
}

.top-wrapper {
  background-image: url("https://prog-8.com/images/html/advanced/top.png");
  background-size: cover;
  color: white;
  text-align: center;
  padding: 0 0 100px 0;

}

.container {  
  width: 1170px;
  margin: 0 auto;
}

.message {
  padding: 115px 0 0 0;
  opacity: 0.7;
}

.container h1 {
  font-size: 45px;
  font-weight: bold;
  text-align: 5px;
  letter-spacing: 5px;
}

.btn {
  display: inline-block;
  padding: 8px 24px;
  color: white;
  opacity: 0.8;
}

.btn:hover{
  opacity: 1;
}

.btn-wrapper p {
  padding: 15px 0;
}

.signup {
  margin-top: 30px;
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.lesson-wrapper {
  height: 580px;
  background-color: #f7f7f7;
  text-align: center;
}

.lesson-message {
  color: #5f5d60;
  padding: 80px 0 50px 0;
}

.lesson-message h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.unit {
  position: relative;
}

.unit p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-content {
  width: 80%;
  display: inline-block;
  margin: 15px 0 0 0;
  font-size: 13px;
  color: #b3aeb5;
}

.message-wrapper {
  text-align: center;
  margin: 0 0 80px 0;
}

.message-message {
  margin: 80px 0 50px 0;
  color: #5f5d60;
}

.development {
  background-color: #5dca88;
  opacity: 0.8;
  padding: 15px 40px;
  box-shadow: 0 7px 0 0 #1a7940;
}

.development:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer {
  border-top: 1px solid #eee;
  padding: 30px 0;
}

.footer-img {
  width: 124px;
}

.footer-left-message {
  color: #b3aeb5;
  font-size: 12px;
}
